


body {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
}
.div1 {
    width: 250px;
    height: 200px;
    border: 5px solid  red ;
    margin: 100px  auto;

    /* outline: 5px  solid  blue;
    outline-offset: 50px ; */
}

.p1 {
    letter-spacing: 2px ;
    word-spacing: 18px ;
    line-height: 25px;

    /* ///////////////////////////////// */

    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: capitalize;

    /* //////////////////////////////////// */

    /* font-size: 22px; */

    /* font-weight: bold ; */

    /* default value :  normal */

    /* bold  -- 100-400  normal          700 -900  bold  */

    /* font-style: italic ; */

    /* italic === oblique */

    /* font-family:Arial, Helvetica, sans-serif ; */


    font: italic    bold      22px     Arial, Helvetica, sans-serif ;

    /* style   weight  size   family */





}


/* /////////////////////////////////////////////////////////////// */

.a1 {
    font-size: 70px ;

    /* ////////////////////// */

    text-decoration: none ;
    text-decoration: underline;
    text-decoration: line-through ;
    text-decoration: overline;
}

/* //////////////////////////////////////////////////////////// */

.parent {
    background-color: blueviolet;
    /* overflow: auto; */
}

/* .div4 {
    clear: both;
} */

.div11 {
    width: 250px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 200px;
}
.div12 {
    width: 250px;
    height: 200px;
    background-color: rgb(51, 255, 0);
    float: left;
    margin: 0px  70px;
}
.div13 {
    width: 250px;
    height: 200px;
    background-color: rgb(0, 17, 255);
    float: left;
}